body {
  background-color: #fcac0c;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}



h1 {
  color: white;

}

nav {
  background-color: black;
}

footer {
  background-color: black;
  color: white;
}

main {
  flex: 1 0 flex;
}

footer.page-footer {
  padding: 0;
  text-align: right;
}

.teal-text {
  color: black;
}

.ww {
  color: white !important;
}

label {
  color: white !important;
}


.btn {
  background-color: blueviolet !important;
}